.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    height: 300px;
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.ser-txt h2{
    font-size: 1.5rem;
}
.ser-txt p{
    font-size: 1.1rem;
}
/* .ser-txt{
    display: none;
}
.card:hover .ser-txt{
    display: block;
} */